.wrapper {
    display: flex;
    justify-content: flex-start;
    font-family: Bahnschrift, sans-serif;
}

.profileAvatar {
    height: 200px;
    padding: 10px;
    border-radius: 50px;
}

.name {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 24px;
    margin: 5px;
}

.aboutMe {
    color: green;
    font-size: 16px;
}

.li {
    margin: 5px 0;
}

.li span{
    font-weight: bold;
    margin-right: 5px;
}
