.wrapper {
    padding: 10px;
}

.textFieldWrapper {
    font-family: Bahnschrift, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.submitButton:hover {
    background-color: forestgreen;
    color: white;
    transition: .5s;
}

.customInput {
    height: 30px;
    width: 97%;
    font-size: 16px;
    padding: 15px;
    outline: none;
}

.error {
    border: 1px solid red;
}

.newPost {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}