.navigation {
    grid-area: side;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 0 40px 0;
    font-family: Bahnschrift, sans-serif;
    border-radius: 0 0 0 10px;
}

.item {
    cursor: pointer;
}

.item a {
    text-decoration: none;
    color: white;
}

a.activeLink, .item a:hover {
    color: yellow;
}


