.header {
    grid-area: head;
    background: linear-gradient(to right, darkgray, #88c9ff, #a99ad6);
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    height: 50px;
    width: 1200px;
    padding: 0 10px;
}

.header img {
    display: block;
    height: 80%;
    padding: 5px;
}

.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 200px;
    font-size: 18px;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
    padding: 5px;
    gap: 20px;
}

.login {
    display: block;
}