.profileAvatar {
    height: 95px;
    width: 90px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.post {
    display: flex;
    text-align: center;
    color: blueviolet;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
}

.messagePost {
    display: flex;
    word-break: break-all;
}

.bubbleWrapper {
    display: flex;
    align-self: center;
}

.messageText {
    margin: 0 0 5px 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #c0d1c0;
}

.angle {
    width: 10px;
    height: 40px;
    clip-path: polygon(100% 30%, 0 50%, 50px 100%);
    background-color: rgba(0, 0, 0, 0.8);
    align-self: center;
}

.likeWrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
}

.like {
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
}

.countLike {
    color: deeppink;
    font-weight: bold;
}

