.profileAvatar {
    width: 80px;
    padding: 10px;
    border-radius: 30px;
    display: block;
    flex-grow: 0;
}

.post {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blueviolet;
    font-family: Bahnschrift, sans-serif;
    font-size: 16px;
}

.messagePost {
    /*border: 1px solid red;*/
    display: flex;
    word-break: break-all;
}

.messageText {
    align-self: center;
    margin: 0 0 5px 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #c0d1c0;
}

.angle {
    width: 10px;
    height: 40px;
    clip-path: polygon(100% 30%, 0 50%, 50px 100%);
    background-color: rgba(0, 0, 0, 0.8);
    align-self: center;
}

.like {
    width: 50px;
    color: crimson;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
}

.countLike {
    width: 50px;
    margin: 5px 25px;
    color: deeppink;
    font-weight: bold;
}

.likeWrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 0 5px;
}