.profileAvatar {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    display: block;
    flex-grow: 0;
}

.post {
    color: blueviolet;
    font-family: Hermit, sans-serif;
    font-size: 14px;
}

.messageText {
    margin: 10px 0;
    background-color: white;
    padding: 10px 30px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 12% 75%, 0 97%, 0 75%, 0% 75%);
    text-align: center;
    color: black;
}

.messagePost {
    display: flex;
    gap: 10px;
}

.like {
    color: crimson;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
}

.countLike {
    display: block;
    margin: 5px 25px;
    color: deeppink;
    font-weight: bold;
}