.wrapper {
    font-family: Bahnschrift, sans-serif;
    width: 500px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formWrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginBtn {
    cursor: pointer;
    margin: 10px 0;
    width: 100px;
    height: 30px;
}

.inputs {
    width: 250px;
    height: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 50px;
}

.error {
    display: block;
    text-align: center;
    margin: 5px 0;
    color: red;
}

.rememberMe {
    user-select: none;
}

.infoAccount {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Bahnschrift, sans-serif;
    opacity: .8;
}