.wrapper {
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
            "head head"
            "side main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.header {
    grid-area: head;
    background-color: aquamarine;
}

.header img {
    width: 50px;
}

.sideBar {
    grid-area: side;
    background-color: rebeccapurple;
}

.mainBar {
    grid-area: main;
    background-color: mediumspringgreen;
}

.profileBack {
    width: 100%;
}