.app-wrapper {
    width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
            "head head"
            "side main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.app-wrapper-content {
    grid-area: main;
    background-color: cornsilk;
}