.wrapper {
    display: flex;
    margin: 10px;
    align-items: baseline;
}

.message {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    font-family: Bahnschrift, sans-serif;
    margin: 0 0 5px 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #c0d1c0;
}

.angle {
    width: 10px;
    height: 40px;
    clip-path: polygon(100% 30%, 0 50%, 50px 100%);
    background-color: rgba(0, 0, 0, 0.8);
    align-self: flex-end;
}

.name {
    color: #a99ad6;
}

.text {
    word-wrap: break-word;
}

.time {
    text-align: end;
    color: gray;
}

.avatar img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50px;
    object-fit: cover;
}